body {
  background-color: #c4ffed;
  text-align: center;
}

h1 {
  color: #283149;
  font-family: "Arvo", cursive;
  font-size: 5rem;
}

footer {
  color: #283149;
  font-family: sans-serif;
}

.set {
  margin: 10% auto;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.drum {
  background-color: white;
  border: 10px solid #404b69;
  border-radius: 15px;
  color: #da4004;
  display: inline-block;
  font-family: 'Arvo', cursive;
  font-size: 5rem;
  font-weight: 900;
  height: 150px;
  line-height: 2;
  margin: 10px;
  text-align: center;
  width: 150px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
